@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tertiary: #dfdfdf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #d4d4d8;
    --tertiary: #292929;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}
